{% extends 'base.html' %}

{% block title %}
Telegram Notifications
{% endblock %}

{% block content %}
<form action="" method="post">
    <h2>Change Password</h2>
    <input type="password" name="old_password" placeholder="Old Password 🔐" id="">
    <input type="password" name="new_password" placeholder="New Password 🔐" id="">
    <input type="password" name="repeat" placeholder="Repeat New Password 🔐" id="">
    <button>Save</button>
    {% with errors = get_flashed_messages(category_filter=["err"]) %}
    {% if errors %}
    <div class="error">
        {%- for msg in errors %}
        <div>{{ msg }}</div>
        {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}
    {% with succ = get_flashed_messages(category_filter=["success"]) %}
    {% if succ %}
    <div>
        {%- for msg in succ %}
        <div>{{ msg }}</div>
        {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}
</form>
{% endblock %}